html {
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    letter-spacing: 0.0625em;
}

#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(255, 255, 255, 0.5);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5);
    }

    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }

    #mainNav .nav-link:active {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #000;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #000;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: #467370;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: none;
        border-bottom: 0.25rem solid #64a19d;
    }
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1,
.masthead .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
}

@media (min-width: 768px) {

    .masthead h1,
    .masthead .h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1,
    .masthead .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .masthead h2,
    .masthead .h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 30%;
    }
}

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../assets/img/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-signup input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.contact-section {
    padding-top: 5rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4,
.contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
    color: #fff;
}

.footer {
    padding: 5rem 0;
}


/* CUSTOM */
.head-photo {
    z-index: -9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 35%;
    background-image: url("../assets/img/bg-masthead.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: head-photo 1.2s cubic-bezier(.5, .6, .6, 1);
    -moz-animation: head-photo 1.2s cubic-bezier(.5, .6, .6, 1);
    animation: head-photo 1.2s cubic-bezier(.5, .6, .6, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@media screen and (max-width: 767px) {
    .head-photo {
        -webkit-animation: head-photo .6s cubic-bezier(.5, .6, .6, 1);
        -moz-animation: head-photo .6s cubic-bezier(.5, .6, .6, 1);
        animation: head-photo .6s cubic-bezier(.5, .6, .6, 1);
    }
}

@-webkit-keyframes head-photo {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes head-photo {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 576px) {
    .head-photo {
        left: 5%;
    }
}

a {
    text-decoration: none !important;
    color: #fff;
}

.vertical-center {
    position: absolute;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.hide-text-block {
    position: relative;
    display: block;
    overflow: hidden;
}

h1 {
    position: fixed;
    line-height: 150%;
    letter-spacing: -2px;
    font-size: 12vmin;
}

.label-ibukunoluwa:after {
    content: "ibukunoluwa";
}

.label-ibukunoluwa:hover:after {
    content: "about";
}

.label-promise:after {
    content: "promise";
}

.label-promise:hover:after {
    content: "projects";
}

.label-naphtali:after {
    content: "naphtali";
}

.label-naphtali:hover:after {
    content: "contact";
}

.animate {
    -webkit-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes animate {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(30vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.on-hover-40,
.on-hover--40 {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.on-hover-40:hover {
    margin-left: 40px;
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.on-hover--40:hover {
    margin-left: -40px;
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .on-hover-40:hover {
        margin-left: 0px;
    }

    .on-hover--40:hover {
        margin-left: 0px;
    }
}

.delay02 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.delay04 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.delay06 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.delay08 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.delay10 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay12 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@media screen and (min-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .tap-indication {
        display: none;

    }
}

@media screen and (max-width: 767px) {
    .hide-web {
        display: none;
    }

    .toggle-mobile-second {
        display: none;
    }

    .mobile-tap-area {
        background: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .tap-indication {
        text-align: center;
        width: 100%;
        font-family: "Medium";
        color: #ffffff;
        position: fixed;
        bottom: 4%;
        font-size: 0.6em;
        /* general fallback */
        font-size: 3.6vm;
        /* IE9 fallback */
        font-size: 3.6vmin;
        animation: bounce 1s infinite alternate;

        -webkit-animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        -moz-animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-8px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-8px);
        }
    }
}

.text-info-50 {
    color: rgba(28, 171, 196, .5);
}

.text-info-80 {
    color: rgba(28, 171, 196, .8);
}

.text-danger-50 {
    color: rgba(161, 100, 104, .5);
}

.credit {
    position: fixed;
    bottom: 0;
    right: 0;
}

.cus-container {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 10rem;
    padding: 10rem 0 0 0;
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.8) !important;
}

.cus-container p {
    font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
    .cus-container {
        max-width: 80%;
    }
}

.cus-head {
    font-size: 5rem;
    font-weight: bold;
    margin: 5rem 0 5rem 0;
}

@media screen and (max-width: 767px) {
    .cus-head {
        font-size: 3.5rem;
    }
}

.head-image {
    height: 80vh;
    margin: 30vh 0;
}

.head-image img {
    z-index: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: -30%;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    pointer-events: none !important;
}

.project-head {
    font-size: 5rem;
    color: rgba(255, 255, 255, .8);
}

@media screen and (max-width: 767px) {
    .head-image img {
        left: -10%;
    }

    .project-head {
        font-size: 3rem;
    }
}

.reviews {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.2rem !important;
    text-align: end;
}

.reviews span {
    font-size: .5rem;
    font-weight: bold;
}

img,
p,
h2,
h3,
h4,
h5,
h6,
span,
i {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    pointer-events: none !important;
}